#!/bin/sh
# Create binary distribution in utila13.taz

cd /usr/bin

chmod a+rx banner cal chsh col colcrt colrm column hexdump last mesg od \
passwd strings ul uuencode uudecode whereis clear reset script

cd /usr/man/man6
chmod a+r banner.6

cd /usr/man/man5
chmod a+r uuencode.5

cd /usr/man/man1

chmod a+r cal.1 chsh.1 col.1 colcrt.1 colrm.1 column.1 hexdump.1 last.1 \
mesg.1 od.1 passwd.1 strings.1 ul.1 uuencode.1 whereis.1 clear.1 reset.1 \
script.1

cd /usr/src
gtar zcvf /dist/utila-1.3.src.tar.Z ./utila-1.3

cd /

gtar zcvf /dist/utila13.taz ./usr/bin/banner ./usr/bin/cal ./usr/bin/chsh \
./usr/bin/col ./usr/bin/colcrt ./usr/bin/colrm ./usr/bin/column \
./usr/bin/hexdump ./usr/bin/last ./usr/bin/mesg ./usr/bin/od \
./usr/bin/passwd ./usr/bin/strings ./usr/bin/ul ./usr/bin/uuencode \
./usr/bin/uudecode ./usr/bin/whereis ./usr/bin/clear ./usr/bin/reset \
./usr/bin/script ./usr/man/man6/banner.6 ./usr/man/man1/cal.1 \
./usr/man/man1/col.1 ./usr/man/man1/colcrt.1 ./usr/man/man1/colrm.1 \
./usr/man/man1/column.1 ./usr/man/man1/hexdump.1 ./usr/man/man1/mesg.1 \
./usr/man/man1/od.1 ./usr/man/man1/strings.1 ./usr/man/man1/ul.1 \
./usr/man/man1/uudecode.1 ./usr/man/man1/uuencode.1 \
./usr/man/man5/uuencode.5 ./usr/man/man1/whereis.1 ./usr/man/man1/clear.1 \
./usr/man/man1/reset.1 ./usr/man/man1/script.1 ./usr/src/utila-1.3/R* \
./usr/src/utila-1.3/utila13.*
