#
# visible_domain list the domains (primary first) we say we're in
#
visible_domain=sea.wa.us:uucp
#
# next is the name in our headers
#
visible_name=victrola.sea.wa.us
#
# this is the path to our smarthost (this could be sysa!sysb!sysc etc.)
#
smart_path=quick
