# (Cron version -- $Header: crontab.c,v 2.2 90/07/18 00:23:56 vixie Exp $)
# (f installed on Tue Jan 21 19:08:35 1992)
# use /bin/sh to run commands, no matter what /etc/passwd says
SHELL=/bin/sh
# mail any output to `vince', no matter whose crontab this is
MAILTO=news
#
# make sure this runs
15 * * * * /usr/bin/date >  /tmp/news_cron_ok
#
#
#----------------------- for trn -----------------------------

# thread the trn database
# 35 * * * * /usr/local/lib/news/trn/mthreads all

# run nnmaster to collect 'nn' stuff
25 * * * * /usr/local/lib/nn/nnmaster

----------------------- stuff for C-news ---------------------------

# clean up after uucico
15 * * * * /usr/lib/uucp/uuxqt

# take the compressed batches that came in from other systems
20 *	   * * * /usr/local/lib/news/bin/input/newsrun  

# batch 'em up to go out
0 *	   * * * /usr/local/lib/news/bin/batch/sendbatches quick

# expire first C-news then 'nn' several hours later
59 0	   * * * /usr/local/lib/news/bin/expire/doexpire 
0  4       * * * /usr/bin/nnadmin =EYW 

# stash a copy of the active file for 'nngoback' and keep last 7
0 3 * * * /usr/local/lib/nn/back_act 7 

# monitor stuff and report if needed
10 5	   * * * /usr/local/lib/news/bin/maint/newsdaily 
#00 5,13,21 * * * /usr/local/lib/news/bin/maint/newswatch 

# turn processing of incoming news batches off for a while
#30 6	   * * * /usr/local/lib/news/bin/input/newsrunning off 
#00 16	   * * * /usr/local/lib/news/bin/input/newsrunning on 

# 'rn' puts a read-lock on the active file, which prevents posting
# so we'll give the 'rn' folks their own copy of the active file to read
#5 * * * * set clobber ; cp /usr/local/lib/news/active /usr/local/lib/news/active.rn 

