
#   Config file sample
#
#   Config may exist as 'UULIB:Config' or 'S:UUConfig', but not in
#   any overide directory for UULIB: since that is listed in the config
#   file and we have to find it first, eh?
#
#   note, in first list NewsEditor is new

NodeName      foo
UserName      jd
RealName      John Doe
Debug         0

#   WARNING, NewsFeed is obsolete.  If this entry exists and the UULIB:Sys
#   file does not, a UULIB:Sys file will be created and mail sent to postmaster
#   asking you to read the NewsSetup.DOC document

#NewsFeed      newsnode
Organization  User Confuser International
Filter        Dme
RFilter       Dme
MailEditor    Dme
NewsEditor    Dme
DomainName    .se
TimeZone      +0200
DefaultNode   bast
#MailReadyCmd  AnyMail -e mbox -e to-#? -c "newcli from uucp:sc/start-dmail"
MailReadyCmd  AnyMail -e mbox -e to-#? -c "newcli con:0/200/600/100/metamail from uucp:sc/start-elm"
#MailReadyCmd  Inform mail "newcli from uucp:c/dmail.bat" "You have new mail"
#NewsReadyCmd  Inform news "newcli from uucp:c/anews.bat" "You have new news"

#   These may be used to specify explicit paths to auto-run programs.
#   Example paths are shown.  If not specified, the programs in question
#   are assumed to exist in your command path.
#
#Uux          fubar:Uux
#Sendmail     fubar:sendmail
#Postnews     fubar:Postnews
#Uuxqt        fubar:uuxqt
#RMail        fubar:rmail
#CUnbatch     fubar:cunbatch
#RNews        fubar:rnews


#   These may be used to specify explicit directories instead of the
#   defaults (UUSPOOL: UUNEWS: UUMAIL: etc...).  Note that default
#   the Config file itself you must copy it as S:UUConfig
#
#   If all are specified, no assigns are required though UUCP: is
#   suggested to make referencing programs easier.
#
#   If the last character of a prefix is neither / or : then a / will
#   AUTOMATICALLY be added... i.e. you do not have to worry about it.
#
#UUSpool      directory-prefix
#UUNews       directory-prefix
#UUMail       directory-prefix
#UULib        directory-prefix
#UUPub        directory-prefix
#UUMan        directory-prefix
#UUCP         directory-prefix

#   The following entry may exist to force POSTNEWS to automatically BATCH
#   the news into spool.  Otherwise, you must run BATCHNEWS to batch the news
#   Please refer to NewsSetup.DOC for more information, in some cases the use
#   of AutoBatch is not a good idea.  The field is a dummy and should currently
#   be left 'autobatch'.  i.e. 'AutoBatch autobatch'

AutoBatch      autobatch

#   The following should not exist or be set to 0 if you are not sure
#   what it should be set to.  This specifies the maximum size of the
#   'C rmail' line in an X. file.  If set to non-0 then multiple-recipient
#   rmail lines are enabled.

MaxRMailLen     200

#   mail/news control, see MAN/Assigns

DomainPath      Y

