#!/bin/sh
# Create binary distribution in utilb10.taz

cd /bin
chmod a+rx ed hostname kill ldd login more setterm wall write

cd /usr/man/man1
chmod a+r ed.1 hostname.1 kill.1 ldd.1 login.1 more.1 setterm.1 \
wall.1 write.1

cd /usr/lib
chmod a+r more.help

cd /usr/src
gtar zcvf /dist/utilb-1.0.src.tar.Z ./utilb-1.0

cd /

gtar zcvf /dist/utilb10.taz ./bin/ed ./bin/hostname ./bin/kill ./bin/ldd \
./bin/login ./bin/more ./bin/setterm ./bin/wall ./bin/write \
./usr/man/man1/ed.1 ./usr/man/man1/hostname.1 ./usr/man/man1/kill.1 \
./usr/man/man1/ldd.1 ./usr/man/man1/login.1 ./usr/man/man1/more.1 \
./usr/man/man1/setterm.1 ./usr/man/man1/wall.1 ./usr/man/man1/write.1 \
./usr/lib/more.help ./usr/src/utilb-1.0/utilb10.*
