$ Kernel Configuration Sub-menu
* cat /usr/linux/include/linux/config_rel.h
#
? Show Current Version
% /usr/local/bin/elm
#
? Build A New Kernel
% /bin/cat 
#
? Install A Kernel 
% reboot now
#
? Reboot Computer
& main.menu
# 
? Return to Main Menu.
