#
#------------------------ global elm.rc file ------------------
#
# this expects any global aliases in /usr/local/lib/elm/aliases.text
#
# the following might have to be used to run on another system
# see the Elm Reference Guide for details
#
# you probably also want to set the visible_name parameter in 
# /usr/local/lib/smail/config if you use smail3.1.28
#
# this is the unqualified hostname
hostname = victrola 
#
# this is the local domain
hostdomain = .sea.wa.us
#
# this is the fully qualified hostname
hostfullname = victrola.sea.wa.us
#
