#!/bin/sh
# Create binary distribution in utile11.taz

cd /etc

chmod a+rx agetty clock ctrlaltdel doshell fdformat fdisk frag fsck \
kbdrate makehole mkfs mkswap mount rdev setfdprm setserial shutdown \
simpleinit swapon sync umount update

chmod a+r fdprm

cd /usr/man/man8

chmod a+r agetty.8 clock.8 ctrlaltdel.8 doshell.8 fdformat.8 fdisk.8 \
frag.8 fsck.8 kbdrate.8 makehole.8 mkfs.8 mkswap.8 mount.8 rdev.8 \
setfdprm.8 setserial.8 shutdown.8 simpleinit.8 swapon.8 sync.8 update.8


cd /usr/src
gtar zcvf /dist/utile-1.1.src.tar.Z ./utile-1.1

cd /

gtar zcvf /dist/utile11.taz ./etc/agetty ./etc/clock ./etc/ctrlaltdel \
./etc/doshell ./etc/fdformat ./etc/fdisk ./etc/frag ./etc/fsck \
./etc/kbdrate ./etc/makehole ./etc/mkfs ./etc/mkswap ./etc/mount \
./etc/rdev ./etc/setfdprm ./etc/setserial ./etc/shutdown ./etc/simpleinit \
./etc/swapon ./etc/sync ./etc/umount ./etc/update ./etc/reboot \
./etc/fastboot ./etc/fasthalt ./etc/halt ./etc/swapdev ./etc/ramsize \
./etc/vidmode ./etc/swapoff ./etc/fdprm ./usr/man/man8/agetty.8 \
./usr/man/man8/clock.8 ./usr/man/man8/ctrlaltdel.8 \
./usr/man/man8/doshell.8 ./usr/man/man8/fdformat.8 ./usr/man/man8/fdisk.8 \
./usr/man/man8/frag.8 ./usr/man/man8/fsck.8 ./usr/man/man8/kbdrate.8 \
./usr/man/man8/makehole.8 ./usr/man/man8/mkfs.8 ./usr/man/man8/mkswap.8 \
./usr/man/man8/mount.8 ./usr/man/man8/rdev.8 ./usr/man/man8/setfdprm.8 \
./usr/man/man8/setserial.8 ./usr/man/man8/shutdown.8 \
./usr/man/man8/simpleinit.8 ./usr/man/man8/swapon.8 ./usr/man/man8/sync.8 \
./usr/man/man8/update.8 ./usr/man/man8/reboot.8 ./usr/man/man8/fastboot.8 \
./usr/man/man8/fasthalt.8 ./usr/man/man8/halt.8 ./usr/man/man8/swapdev.8 \
./usr/man/man8/vidmode.8 ./usr/man/man8/umount.8 ./usr/man/man8/swapoff.8 \
./usr/src/utile-1.1/example.files ./usr/src/utile-1.1/R* \
./usr/src/utile-1.1/utile11.*
